/*
auteur : Louis Gerard
contact : 0476/02.98.05
*/
header {
	//background-color: darkblue;
	//background-color:none;
	background-color: rgb(230,122,46);
}

header h1 {
    margin: 0;
	text-align:center;
	vertical-align:center;
	color: white;
	padding-top: 30;
}

#logo {
	margin-top:-80;
	margin-left:20;
}
#contactezMoi {
	//margin-top:-150;
	//margin-left:1400;
}
#contactText {
	margin-top:-50;
	margin-left:1340;
	font-weight : bold;
}
#contactPlace {
	margin-top:-150;
	margin-left:1400;
}
#mid {
	margin-top:160;
	//margin-left:30;
	margin-left:300;
}
#textB {
	font-size:30;
	font-weight : bold;
}
#contact{
	margin-top:100;
	margin-left:300;
	margin-bottom:100;
	font-size:20;
}
#contact li{
	margin-top:10;
}
#aide{
	margin-top:100;
	margin-left:300;
	font-size:20;
}
#questions{
	margin-bottom:10;
	font-weight : bold;
	margin-top:20;
}

#retourB {
	font-size:20;
	font-weight : bold;
}
#retourText {
	margin-left:650;
}

html, body {
    margin: 0;
    padding: 0;
}